<!DOCTYPE html>
<html>
    <head>
        <title>
            Administration Dashboard
        </title>
        <link rel="stylesheet" href="/css/site.css"/>
        <link rel="icon" type="image/x-icon" href="/images/neuicon.png">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script defer src="/js/dashboard.js"></script>
    </head>
    <body>
        <form name="dashboard" id="dashboard" >
            <div id="pageRestricted">
                <table id="header">
                    <tbody>
                        <tr>
                            <td>
                                <div id="title">
                                    <h1>Administration Dashboard</h1>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="navBar"></table>
                <div id="main">
                    <h2>Website Statistics</h2>
                    <div class="tab-contatiner">
                        <button class="tab-button active" data-chart="statsChart">Website Traffic</button>
                        <button class="tab-button" data-chart="dailyChart">Daily Submissions</button>
                        <button class="tab-button" data-chart="osChart">Operating Systems</button>
                        <button class="tab-button" data-chart="browserChart">Browsers</button>
                    </div>
                    <div class="chart-container">
                        <canvas id="statsChart"></canvas>
                        <canvas id="dailyChart" style="display: none;"></canvas>
                        <canvas id="osChart" style="display: none;"></canvas>
                        <canvas id="browserChart" style="display: none;"></canvas>
                    </div>
                    <h2>User Information</h2>
                    <label for="sortBy"><b>Sort By:</b></label>
                    <select id="sortBy">
                        <option value="firstname">First Name</option>
                        <option value="lastname">Last Name</option>
                    </select>
                    <label for="filterText"><b>Filter by Name:</b></label>
                    <input type="text" id="filterText" placeholder="Search Name">
                    <div class="table-container">
                        <table id="studentBox">
                            <tbody id="studentTableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>

        <script>
            window.studentsData = <%- JSON.stringify(model.students) %>;
            window.statsData = {
                siteVisits: <%= model.siteVisits %>,
                formVisits: <%= model.formVisits %>,
                formSubmissions: <%= model.formSubmissions %>
            };
            window.dailiesData = <%- JSON.stringify(model.dailies) %>;
            window.metadata = <%- JSON.stringify(metadata)%>;
        </script>
    </body>
    <footer>©Kaleo Valdo Capstone 2025</footer>
</html>